<!doctype HTML>
<html>
	<head>
		<title>Icons Preview!</title>
		<style>
			body {
				background-image: linear-gradient(#eee 25%, transparent 25%, transparent), linear-gradient(#eee 25%, transparent 25%, transparent), linear-gradient(transparent 75%, #eee 75%), linear-gradient(transparent 75%, #eee 75%);
				width: 100%;
				background-size: 10px 10px;
			}
			/*
				some default styles for our icon class
			*/
			.i {
			    display: .inline-block;

			    width: 1em;
			    height: 1em;

			    background-size: cover;
			}

			/*
				colours get applied changing the background position of the icon element
				note that the vertical background position depends on the number of colours you define in your gruntfile
			*/
			.i--white {
			    background-position: 0 50%;
			}
			.i--green {
			    background-position: 0 100%;
			}

		</style>
		<script>
			{{{loaderText}}}
			{{{embedText}}}
			{{#with cssFiles}}
			grunticon(["{{svg}}", "{{png}}", "{{fallback}}"], grunticon.svgLoadedCallback);
		</script>
		<noscript><link href="{{fallback}}" rel="stylesheet"></noscript>
            {{/with}}

	</head>
	<body>
        {{#each icons}}
            {{#with this}}
            <pre><code>{{prefix}}{{name}}:</code></pre><div {{selectorType}}="{{selectorString}}{{name}}" style="width: {{width}}px; height: {{height}}px;" ></div><hr/>
            {{/with}}
        {{/each}}

</body>
</html>
